In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
os.chdir("C:/Users/josep/Documents/Escuela/Materias/Ciencia de datos II/Reto Principal")

In [4]:
df_transfor = pd.read_csv("data_comunas_copy.csv")

In [5]:
df_transfor.drop("address", axis=1, inplace=True)

In [6]:
df_transfor.head()

   Unnamed: 0 bts_id      lat      lon full_address
0           0  SULCI -33.5401 -70.6660  La Cisterna
1           1  CCA5A -33.4180 -70.6059  Providencia
2           2  DBZAF -33.4285 -70.6494     Recoleta
3           3  CCA1C -33.4180 -70.6059  Providencia
4           4  MCPPF -33.4257 -70.6142  Providencia

In [7]:
comunas=["Cerrillos","Cerro Navia","Conchalí","El Bosque","Estación Central","Huechuraba","Independencia","La Cisterna","La Florida",
         "La Granja","La Pintana","La Reina","Las Condes","Lo Barnechea","Lo Espejo","Lo Prado","Macul","Maipú","Ñuñoa","Pedro Aguirre Cerda",
         "Peñalolén","Providencia","Pudahuel","Quilicura","Quinta Normal","Recoleta","Renca","San Joaquín","San Miguel","San Ramón","Santiago","Vitacura",
         "Puente Alto","San José de Maipo","Pirque","Talagante","El Monte","Isla de Maipo","Padre Hurtado","Peñaflor","San Bernardo","Calera de Tango",
         "Buin","Paine","Colina","Lampa","Til-Til","Alhué","Curacaví","María Pinto","Melipilla","San Pedro"]

print(comunas)

comunas_2 = comunas.copy()

['Cerrillos', 'Cerro Navia', 'Conchalí', 'El Bosque', 'Estación Central', 'Huechuraba', 'Independencia', 'La Cisterna', 'La Florida', 'La Granja', 'La Pintana', 'La Reina', 'Las Condes', 'Lo Barnechea', 'Lo Espejo', 'Lo Prado', 'Macul', 'Maipú', 'Ñuñoa', 'Pedro Aguirre Cerda', 'Peñalolén', 'Providencia', 'Pudahuel', 'Quilicura', 'Quinta Normal', 'Recoleta', 'Renca', 'San Joaquín', 'San Miguel', 'San Ramón', 'Santiago', 'Vitacura', 'Puente Alto', 'San José de Maipo', 'Pirque', 'Talagante', 'El Monte', 'Isla de Maipo', 'Padre Hurtado', 'Peñaflor', 'San Bernardo', 'Calera de Tango', 'Buin', 'Paine', 'Colina', 'Lampa', 'Til-Til', 'Alhué', 'Curacaví', 'María Pinto', 'Melipilla', 'San Pedro']

In [8]:
# a =['á','é','í','ó','ú','ü','ñ','Á','É','Í','Ó','Ú','Ü','Ñ']
# b =['a','e','i','o','u','u','n','A','E','I','O','U','U','N']
a =[['á','a'],['é','e'],['í','i'],['ó','o'],['ú','u'],['ü','u'],['ñ','n'],['Á','A'],['É','E'],['Í','I'],['Ó','O'],['Ú','U'],['Ü','U'],['Ñ','N']]
sub = dict(a)
for key, val in sub.items():
    for idx, ele in enumerate(comunas_2):
        if key in ele:
            comunas_2[idx] = ele.replace(key, val)

print(comunas_2)

['Cerrillos', 'Cerro Navia', 'Conchali', 'El Bosque', 'Estacion Central', 'Huechuraba', 'Independencia', 'La Cisterna', 'La Florida', 'La Granja', 'La Pintana', 'La Reina', 'Las Condes', 'Lo Barnechea', 'Lo Espejo', 'Lo Prado', 'Macul', 'Maipu', 'Nunoa', 'Pedro Aguirre Cerda', 'Penalolen', 'Providencia', 'Pudahuel', 'Quilicura', 'Quinta Normal', 'Recoleta', 'Renca', 'San Joaquin', 'San Miguel', 'San Ramon', 'Santiago', 'Vitacura', 'Puente Alto', 'San Jose de Maipo', 'Pirque', 'Talagante', 'El Monte', 'Isla de Maipo', 'Padre Hurtado', 'Penaflor', 'San Bernardo', 'Calera de Tango', 'Buin', 'Paine', 'Colina', 'Lampa', 'Til-Til', 'Alhue', 'Curacavi', 'Maria Pinto', 'Melipilla', 'San Pedro']

In [11]:
df_transfor = df_transfor.replace(comunas,comunas_2)

In [12]:
print(df_transfor)

      Unnamed: 0 bts_id      lat      lon   full_address
0              0  SULCI -33.5401 -70.6660    La Cisterna
1              1  CCA5A -33.4180 -70.6059    Providencia
2              2  DBZAF -33.4285 -70.6494       Recoleta
3              3  CCA1C -33.4180 -70.6059    Providencia
4              4  MCPPF -33.4257 -70.6142    Providencia
...          ...    ...      ...      ...            ...
1866        1866  L3N10 -33.4065 -70.6613  Independencia
1867        1867  L3N11 -33.3974 -70.6695       Conchali
1868        1868  FBCA1 -33.4378 -70.6571       Santiago
1869        1869  FBCA2 -33.4378 -70.6571       Santiago
1870        1870  MLPIF -33.4145 -70.5971     Las Condes

[1871 rows x 5 columns]

In [13]:
df_transfor.to_csv("lista_comunas_limpias.csv")

In [16]:
df_principal = pd.read_csv("20210101_RM_vf.csv")

In [19]:
df_principal['comunas'] = ""

In [20]:
df_principal.head()

,PHONE_ID,timestamp,bts_id,lat,lon,comunas
0,668f7c17a62c937a75f762c7198a7fc98ed4e0e0c64ce0...,2021-01-01T17:22:55.000-03:00,CEMG1,-33.3913,-70.6222,
1,780fc36e9a2bc99de12adb740e5e82b3cabba75c1ecd23...,2021-01-01T17:10:19.000-03:00,CEMG1,-33.3913,-70.6222,
2,b3c52936d4f8494dae9d1158ce76951e62413d511f5fe2...,2021-01-01T00:35:04.000-03:00,CEMG1,-33.3913,-70.6222,
3,a4ab622fe4c0de513c389ab475cee4ad5b5d27e07e32d9...,2021-01-01T17:22:38.000-03:00,CEMG1,-33.3913,-70.6222,
4,77d8edaa34e7ac318ef33541957e9f33826dff24217636...,2021-01-01T17:11:12.000-03:00,CEMG1,-33.3913,-70.6222,